body {
  font-family: sans-serif;
  margin: 0;
  background-color: #1f2937; 
  color: #fff;
}

header {
  background-color: #f59e0b; 
  padding: 20px 0;
  position: relative;
  color: #ccc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
}

.search-bar input {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.user-actions {
  display: flex;
  align-items: center;
}

.user-actions span {
  display: inline-block;
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

.product-detail {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start; /* Ajuste para alinear la parte superior */
}

.product-image {
  width: 300px;
  height: 300px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.product-info {
  flex-grow: 1;
}

.product-info h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fff; 
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #f59e0b; 
  margin-bottom: 10px;
}

.description {
  color: #b0b0b0;
  line-height: 1.6;
  margin-bottom: 20px;
}

.product-details {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.product-details li {
  margin-bottom: 5px;
  color: #f0f0f0;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.continue-shopping,
.buy-now {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff; 
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background-color: #ffffff65; 
  padding: 10px 0;
  text-align: center;
  color: #333; 
}

footer p {
  color: #000000; 
}

.continue-shopping {
  text-decoration: none; 
}

.continue-shopping:hover {
  background-color: #0056b3; 
}

.continue-shopping:active {
  background-color: #003087; /
}
